body{
    background:rgb(84, 151, 228);
    color: rgb(238, 238, 238);
    text-align: center;
    border: blanchedalmond 30px;
    width:;
    height: ;
    margin: 4%;
    }

h3{
 text-align: justify; 
}
   
